/*font-family: 'Roboto', sans-serif;*/

:root {
    --font: 'Roboto', sans-serif;
    --backgroundColor: #18211aff;
    --white: #f9f9f9ff;
    --pink: #ab2bb7ff;
    --blue: #1d1887ff;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--font);
    font-size: 1.6rem;
    background-color: var(--backgroundColor);
    color: var(--white);
}

h2,
h3 {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--white);
}

figure {
    margin: 0;
    width: 100%;
}

img {
    width: 100%;
    display: block;
}

.container {
    width: 90%;
    margin: 0 auto;
}


/**header**/

.hero {
    background-image: linear-gradient(rgba(24, 33, 26, .5), rgba(24, 33, 26, 1)), url(../img/hero.jpg);
    min-height: 100vh;
    background-position: 47% 50%;
    background-size: cover;
    padding: 3rem 0;
}

.hero__nav {
    display: flex;
    justify-content: center;
}

.hero__nav-link {
    font-size: 3rem;
    color: var(--white);
    margin-right: 1.5rem;
}

.hero__nav-link:last-of-type {
    margin-right: 0;
}

.hero__info {
    font-size: 2.2rem;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}

.hero__headline-container {
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
}

.hero__headline {
    font-size: 5rem;
}

.hero__btn-container {
    display: flex;
    justify-content: center;
}

.hero__btn {
    background: transparent;
    border: solid .3rem var(--white);
    border-radius: .5rem;
    color: var(--white);
    font-size: 3rem;
    padding: 1rem;
}


/**section-one**/

.section-one {
    margin-bottom: 3rem;
}

.section-one__p {
    text-align: center;
}


/**section-color**/

.section-color {
    display: flex;
    flex-direction: column;
}

.section-color__p {
    background-color: var(--pink);
    margin: 0;
    padding: 3rem;
}

.section-color__p--blue {
    background-color: var(--blue);
}


/**section-end**/

.section-end {
    position: relative;
    height: auto;
}

.section-end::before {
    content: '';
    background-image: url(../img/parallax.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    filter: brightness(.5);
    -webkit-filter: brightness(.5);
    z-index: -3;
}

.section-end-container {
    padding: 5rem 0;
}

.section-end__headline {
    margin-top: 0;
}

.hero__btn--end {
    font-size: 1.8rem;
    border: solid .1rem var(--white);
}

.section-end__footer {
    text-align: center;
    padding-bottom: .5rem;
    margin-bottom: 0;
}


/**form**/

form {
    margin-bottom: 4rem;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    font-size: 2.2rem;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.label {
    font-size: 1.8rem;
    margin-bottom: .7rem;
}

.input input {
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.8rem;
}

select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: var(--backgroundColor);
    flex: 1;
    padding: 0;
    color: var(--white);
    cursor: pointer;
    text-align: center;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 100%;
    padding: .7rem 0;
    line-height: 3;
    background: var(--backgroundColor);
    overflow: hidden;
    border-radius: .3rem;
    border: .1rem solid var(--white);
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: -.7rem;
    right: 0;
    padding: 0 1rem;
    background: var(--backgroundColor);
    cursor: pointer;
    pointer-events: none;
}

.input-paymentMethod {
    margin: 1rem 0;
}

.input-paymentMethod>div {
    display: flex;
    justify-content: space-between;
}

.paymentMethod {
    flex: 0 0 calc(50% - .5rem);
}

.paymentMethod img {
    cursor: pointer;
}

.btn-submit {
    border: .1rem solid var(--white);
    font-size: 1.8rem;
    width: 100%;
}


/**attendee-section**/

.status {
    width: 100%;
    text-align: left;
    border: .1rem solid var(--white);
    padding: 1rem;
}

.attendee-section h3 {
    font-weight: 400;
    text-align: left;
}

.attendee-section figure {
    padding: 0 4rem;
}